
<html>
  <head>
    <title>Djula Documentation</title>
    
    <style type='text/css'>
      a.djula-tag { text-decoration: none; color: darkblue; };
    </style>

  </head>
  <body>
    







    <h2>Djula Documentation Quick Reference</h2>
    <ol>
      <li><a href='#variables'>Variables</a></li>
      <li><a href='#filters'>Filters</a></li>
      <li><a href='#tags'>Tags</a></li>
      <li><a href='#template-inheritance'>Template Inheritance</a></li>
      <li><a href='#dictionary-variables'>Dictionary Variables</a></li>
      <li><a href='#different-from-django'>How Djula is different from the Django templating language</a></li>
    </ol>





    <h2><a name='documentation'></a>Djula Documentation</h2>
    <p>This is all based on the <a href='http://www.djangoproject.com/' target='_blank'>Django</a> templating language, if you are familiar it then Djula templates will be a breeze. In fact most of the text on this page was directly copied from <a href='http://www.djangoproject.com/documentation/templates/' target='_blank'>The Django template language: for template authors</a>. For a list of how Djula is different in from the Django templating language <a href='#different-from-django'>click here</a></p>

    <h3><a name='variables'></a>Variables</h3>
    <p>Variables look like this: <code><a href='#variables' class='djula-tag'>{{ variable }}<a></code>. When the template engine encounters a variable, it evaluates that variable and replaces it with the result.</p>
    <p>Use a dot (<code>.</code>) to access attributes of a variable or index of a list. <code><a href='#variables' class='djula-tag'>{{ user.name }}<a></code> will be replaced with the <code>name</code> attribute of the <code>user</code> object (<i>Lisp hackers: this is an alist lookup</i>). <code><a href='#variables' class='djula-tag'>{{ users.1 }}<a></code> will be replaced with the first user object of the list <code>users</code>. You can use multiple dots with a variable, so <code><a href='#variables' class='djula-tag'>{{ users.1.name }}<a></code> will be replaced with the <code>name</code> attribute of the first user object of the list <code>users</code>.</p>
    <p>When designing your templates, the values of variables come from devel-dictionaries linked to the template by <a href='#tag-devel-dictionary' class='djula-tag'>{% devel-dictionary %}<a>
      tags or directly from <a href='#tag-dictionary-value' class='djula-tag'>{% dictionary-value %}<a> tags. When your template is deployed in a real web application
      these "devel" values are replaced with "real" values by the programmers.
    </p>


    <h3><a name='filters'>Filters</a></h3>
    <p>You can modify variables for display by using filters.</p>
    <p>Filters look like this: <code><a href='#variables' class='djula-tag'>{{ name|lowercase }}<a></code>. This displays the value of the <code><a href='#variables' class='djula-tag'>{{ name }}<a></code> after being filtered through the <code>lowercase</code> filter, which converts text to lowercase. Use a pipe (<code>|</code>) to apply a filter.</p>

    <p>Filters can be "chained." The output of one filter is applied to the next. <code><a href='#variables' class='djula-tag'>{{ name|lowercase|urlencode }}<a></code> displays <code>name</code> after being lowercased and url-encoded.</p>

    <p>Some filters take arguments. A filter argument looks like this: <code><a href='#variables' class='djula-tag'>{{ bio|truncatewords:30 }}<a></code>. This will display the first 30 words of the <code>bio</code> variable.</p>

    <p>Filter arguments that contain spaces must be quoted; for example, to join a list with commas and spaced you&rsquo;d use <code><a href='#variables' class='djula-tag'>{{ list|join:"," }}<a></code>.</p>

    <p>The <a href='#known-filter-reference'>Known Filter Reference</a> below describes all the filters Djula currently knows about. You can create your own filters, too, if you know how to write Common Lisp code</p>
    
    <h3>Known Filters</h3>
    <ul>
    
    <li><a href='#filter-capfirst'>CAPFIRST</a></li>
    
    <li><a href='#filter-cut'>CUT</a></li>
    
    <li><a href='#filter-default'>DEFAULT</a></li>
    
    <li><a href='#filter-force_escape'>FORCE_ESCAPE</a></li>
    
    <li><a href='#filter-length'>LENGTH</a></li>
    
    <li><a href='#filter-linebreaks'>LINEBREAKS</a></li>
    
    <li><a href='#filter-linebreaksbr'>LINEBREAKSBR</a></li>
    
    <li><a href='#filter-lisp'>LISP</a></li>
    
    <li><a href='#filter-lower'>LOWER</a></li>
    
    <li><a href='#filter-safe'>SAFE</a></li>
    
    <li><a href='#filter-truncatechars'>TRUNCATECHARS</a></li>
    
    <li><a href='#filter-upper'>UPPER</a></li>
    
    <li><a href='#filter-urlencode'>URLENCODE</a></li>
    
    </ul>

    <h3><a name='tags'></a>Tags</h3>
    <p>Tags look like this: <code><a href='#tag-tag' class='djula-tag'>{% tag %}<a></code>. Tags are more complex than variables: Some create text in the output, some control flow by performing loops or logic, and some load external information into the template to be used by later variables.</p>

    <p>Some tags require beginning and ending tags (i.e. <code><a href='#tag-tag' class='djula-tag'>{% tag %}<a> ... tag contents ... <a href='#tag-endtag' class='djula-tag'>{% endtag %}<a></code>). The <a href='#known-tag-reference'>known tag reference</a> below describes all the tags Djula knows about. You can create your own tags, too, if you know how to write Common Lisp code.</p>

    <h3>Known Tags</h3>
    <ul>
    
    <li><a href='#tag-block'>BLOCK</a></li>
    
    <li><a href='#tag-comment'>COMMENT</a></li>
    
    <li><a href='#tag-cycle'>CYCLE</a></li>
    
    <li><a href='#tag-debug'>DEBUG</a></li>
    
    <li><a href='#tag-else'>ELSE</a></li>
    
    <li><a href='#tag-elseif'>ELSEIF</a></li>
    
    <li><a href='#tag-emit-js'>EMIT-JS</a></li>
    
    <li><a href='#tag-endblock'>ENDBLOCK</a></li>
    
    <li><a href='#tag-endcomment'>ENDCOMMENT</a></li>
    
    <li><a href='#tag-endemit-js'>ENDEMIT-JS</a></li>
    
    <li><a href='#tag-endfilter'>ENDFILTER</a></li>
    
    <li><a href='#tag-endfor'>ENDFOR</a></li>
    
    <li><a href='#tag-endif'>ENDIF</a></li>
    
    <li><a href='#tag-endifchanged'>ENDIFCHANGED</a></li>
    
    <li><a href='#tag-endifequal'>ENDIFEQUAL</a></li>
    
    <li><a href='#tag-endifnotequal'>ENDIFNOTEQUAL</a></li>
    
    <li><a href='#tag-example'>EXAMPLE</a></li>
    
    <li><a href='#tag-example-table'>EXAMPLE-TABLE</a></li>
    
    <li><a href='#tag-extends'>EXTENDS</a></li>
    
    <li><a href='#tag-filter'>FILTER</a></li>
    
    <li><a href='#tag-for'>FOR</a></li>
    
    <li><a href='#tag-if'>IF</a></li>
    
    <li><a href='#tag-ifchanged'>IFCHANGED</a></li>
    
    <li><a href='#tag-ifequal'>IFEQUAL</a></li>
    
    <li><a href='#tag-ifnotequal'>IFNOTEQUAL</a></li>
    
    <li><a href='#tag-include'>INCLUDE</a></li>
    
    <li><a href='#tag-js'>JS</a></li>
    
    <li><a href='#tag-js-script'>JS-SCRIPT</a></li>
    
    <li><a href='#tag-lisp'>LISP</a></li>
    
    <li><a href='#tag-set-language'>SET-LANGUAGE</a></li>
    
    <li><a href='#tag-show-language'>SHOW-LANGUAGE</a></li>
    
    <li><a href='#tag-show-table'>SHOW-TABLE</a></li>
    
    <li><a href='#tag-ssi'>SSI</a></li>
    
    <li><a href='#tag-templatetag'>TEMPLATETAG</a></li>
    
    <li><a href='#tag-translation'>TRANSLATION</a></li>
    
    <li><a href='#tag-translation-table'>TRANSLATION-TABLE</a></li>
    
    </ul>

    <h3><a name='comments'></a>Comments</h3>
    <p>Anything between <code><a href='#comments' class='djula-tag'>{#</code> and <code>#}<a></code> is commented out and will not appear in the browser.</p>
    <p>So this:
      
      <blockquote><code>Hello<a href='#comments' class='djula-tag'>{# this is a comment #}<a></code></blockquote>

      will be displayed by the template as:

      <blockquote>Hello</blockquote>
    </p>

    
    <h3><a name='template-inheritance'></a>Template Inheritance</h3>
    <p>The most powerful - and thus the most complex - part of Djula&rsquo;s template engine is template inheritance. Template inheritance allows you to build a base &quo;skeleton&quo; template that contains all the common elements of your site and defines blocks that child templates can override.</p>

<p>It’s easiest to understand template inheritance by starting with an example:</p>

<pre><code>
   &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
   &lt;html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"&gt;
   &lt;head&gt;
       &lt;link rel="stylesheet" href="style.css" /&gt;
       &lt;title&gt;<a href='#tag-block' class='djula-tag'>{% block title %}<a>My amazing site<a href='#tag-endblock' class='djula-tag'>{% endblock %}<a>&lt;/title&gt;
   &lt;/head&gt;
   
   &lt;body&gt;
       &lt;div id="sidebar"&gt;
           <a href='#tag-block' class='djula-tag'>{% block sidebar %}<a>
           &lt;ul&gt;
               &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
               &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
           &lt;/ul&gt;
           <a href='#tag-endblock' class='djula-tag'>{% endblock %}<a>
       &lt;/div&gt;
   
       &lt;div id="content"&gt;
           <a href='#tag-block' class='djula-tag'>{% block content %}<a><a href='#tag-endblock' class='djula-tag'>{% endblock %}<a>
       &lt;/div&gt;
   &lt;/body&gt;
   &lt;/html&gt;
</pre></code>

<p>This template, which we’ll call <i>base.html</i>, defines a simple HTML skeleton document that you might use for a simple two-column page. It&rsquo;s the job of &quot;child&quot; templates to fill the empty blocks with content.</p>

</p>In this example, the <code><a href='#tag-block' class='djula-tag'>{% block %}<a></code> tag defines three blocks that child templates can fill in. All the block tag does is to tell the template engine that a child template may override those portions of the template.</p>

<p>A child template might look like this:</p>

<code><pre>
   <a href='#tag-extends' class='djula-tag'>{% extends "base.html" %}<a>
   
   <a href='#tag-block' class='djula-tag'>{% block title %}<a>My amazing blog<a href='#tag-endblock' class='djula-tag'>{% endblock %}<a>
   
   <a href='#tag-block' class='djula-tag'>{% block content %}<a>
   <a href='#tag-for' class='djula-tag'>{% for entry in blog_entries %}<a>
       &lt;h2&gt;<a href='#variables' class='djula-tag'>{{ entry.title }}<a>&lt;/h2&gt;
       &lt;p&gt;<a href='#variables' class='djula-tag'>{{ entry.body }}<a>&lt;/p&gt;
   <a href='#tag-endfor' class='djula-tag'>{% endfor %}<a>
   <a href='#tag-endblock' class='djula-tag'>{% endblock %}<a>
</code></pre>

<p>The <code><a href='#tag-extends' class='djula-tag'>{% extends %}<a></code> tag is the key here. It tells the template engine that this template "extends" another template. When the template system evaluates this template, first it locates the parent — in this case, <i>base.html</i>.</p>

<p>At that point, the template engine will notice the three <a href='#tag-block' class='djula-tag'>{% block %}<a> tags in <i>base.html</i> and replace those blocks with the contents of the child template. Depending on the value of blog_entries, the output might look like:</p>

   <code><pre>
   &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
   &lt;html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"&gt;
   &lt;head&gt;
       &lt;link rel="stylesheet" href="style.css" /&gt;
       &lt;title&gt;My amazing blog&lt;/title&gt;
   &lt;/head&gt;
   
   &lt;body&gt;
       &lt;div id="sidebar"&gt;
           &lt;ul&gt;
               &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
               &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
           &lt;/ul&gt;
       &lt;/div&gt;
   
       &lt;div id="content"&gt;
           &lt;h2&gt;Entry one&lt;/h2&gt;
           &lt;p&gt;This is my first entry.&lt;/p&gt;
   
           &lt;h2&gt;Entry two&lt;/h2&gt;
           &lt;p&gt;This is my second entry.&lt;/p&gt;
       &lt;/div&gt;
   &lt;/body&gt;
   &lt;/html&gt;
</pre></code>
<p>Note that since the child template didn’t define the sidebar block, the value from the parent template is used instead. Content within a <code><a href='#tag-block' class='djula-tag'>{% block %}<a></code> tag in a parent template is always used as a fallback.</p>

<p>You can use as many levels of inheritance as needed. One common way of using inheritance is the following three-level approach:</p>

<p>Create a <i>base.html</i> template that holds the main look-and-feel of your site.</p>

<p>Create a <i>base_SECTIONNAME.html</i> template for each "section" of your site. For example, <i>base_news.html</i>, <i>base_sports.html</i>. These templates all extend <i>base.html</i> and include section-specific styles/design.</p>

<p>Create individual templates for each type of page, such as a news article or blog entry. These templates extend the appropriate section template.</p>

<p>This approach maximizes code reuse and makes it easy to add items to shared content areas, such as section-wide navigation.</p>

<p>Here are some tips for working with inheritance:</p>

<p>If you use <code><a href='#tag-extends' class='djula-tag'>{% extends %}<a></code> in a template, it must be the first template tag in that template. Template inheritance won’t work, otherwise.</p>

<p>More <code><a href='#tag-block' class='djula-tag'>{% block %}<a></code> tags in your base templates are better. Remember, child templates don’t have to define all parent blocks, so you can fill in reasonable defaults in a number of blocks, then only define the ones you need later. It’s better to have more hooks than fewer hooks.</p>

<p>If you find yourself duplicating content in a number of templates, it probably means you should move that content to a <code><a href='#tag-block' class='djula-tag'>{% block %}<a></code> in a parent template.</p>

<p>If you need to get the content of the block from the parent template, the <a href='#variables' class='djula-tag'>{{ block.super }}<a> variable will do the trick. This is useful if you want to add to the contents of a parent block instead of completely overriding it. Data inserted using <a href='#variables' class='djula-tag'>{{ block.super }}<a> will not be automatically escaped (see the next section), since it was already escaped, if necessary, in the parent template.</p>

<p>For extra readability, you can optionally give a name to your <code><a href='#tag-endblock' class='djula-tag'>{% endblock %}<a></code> tag. For example:</p>

<pre><code>
   <a href='#tag-block' class='djula-tag'>{% block content %}<a>
   ...
   <a href='#tag-endblock' class='djula-tag'>{% endblock content %}<a>
</code></pre>

<p>In larger templates, this technique helps you see which <a href='#tag-block' class='djula-tag'>{% block %}<a> tags are being closed.</p>

<p>Finally, note that you can’t define multiple <code><a href='#tag-block' class='djula-tag'>{% block %}<a></code> tags with the same name in the same template. This limitation exists because a block tag works in “both” directions. That is, a block tag doesn’t just provide a hole to fill — it also defines the content that fills the hole in the parent. If there were two similarly-named <a href='#tag-block' class='djula-tag'>{% block %}<a> tags in a template, that template’s parent wouldn’t know which one of the blocks’ content to use.</p>

    <h3><a name='dictionary-variables'></a>Dictionary Variables</h3>
    <p>
      Dictionary variables look like <a href='#dictionary-variables' class='djula-tag'>{_this_}<a>.
      Dictionary variables are like <a href='#variables'>variables</a> except they are not HTML-escaped, the don't take filters,
      and they get their values from dictionaries linked to the template by
      <a href='#tag-dictionary' class='djula-tag'>{% dictionary %}<a> tags or
      dictionary variables created dicrectly with <a href='#tag-dictionary-value' class='djula-tag'>{% dictionary-value %}<a> tags.
    </p>
    <p>
      Dictionary variables are used for internationaliztion. If the dictionary "/foo.lisp" contains the following definitions:
    <p>

      <code><pre>
	  (foo english "The foo" spanish "El foo")
	  (bar english "The bar" spanish "El bar")
      </pre><code>

    <p>Then the following template:</p>

      <code><pre>
	  <a href='#tag-dictionary' class='djula-tag'>{% dictionary "/foo.lisp" %}<a>
	  <a href='#dictionary-variables' class='djula-tag'>{_foo_}<a>... <a href='#dictionary-variables' class='djula-tag'>{_bar_}<a>...
      </pre></code>

    <p>Will be rendered in English to:</p>

          <code><pre>
	      
	      The foo... The bar...
	  </pre></code>

    <p>and in Spanish to:</p>

         <code><pre>

	     El foo... El bar...
	 </pre></code>

    <p>
      Note that dictionary values can have nested <a href='#tags'>tags</a>, <a href='#variables'>variables</a>, <a href='#comments'>comments</a>, etc.
    </p>

    <h3><a name='known-tag-reference'></a>Known Tag Reference</h3>
    <p>
      <ul>
      
      <li><a name='tag-block'></a>
	<p><pre><b>BLOCK (NAME)</b></pre><p>
	<p><pre>Define a block that can be overridden by child templates. Read the documentation
about &quot;Template inheritance&quot; for more information.</pre></p>
	
	<p><pre><b>Different from Django because:</b> <a href='#variables' class='djula-tag'>{{block.super}}<a> is currently broken</pre></p>
	
      </li>
      
      <li><a name='tag-comment'></a>
	<p><pre><b>COMMENT</b></pre><p>
	<p><pre>Ignore everything between <a href='#tag-comment' class='djula-tag'>{% comment %}<a> and <a href='#tag-endcomment' class='djula-tag'>{% endcomment %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-cycle'></a>
	<p><pre><b>CYCLE (&amp;REST LIST)</b></pre><p>
	<p><pre>Cycle among the given strings or variables each time this tag is encountered.

Within a loop, cycles among the given strings/variables each time through the loop:

   <a href='#tag-for' class='djula-tag'>{% for o in some_list %}<a>
       &lt;tr class=&quot;<a href='#tag-cycle' class='djula-tag'>{% cycle &#039;row1&#039; &#039;row2&#039; rowvar %}<a>&quot;&gt;
           ...
       &lt;/tr&gt;
   <a href='#tag-endfor' class='djula-tag'>{% endfor %}<a>

You can use any number of values, separated by spaces. Values enclosed in double quotes
(&quot;) are treated as string literals, while values without quotes are assumed to
refer to context variables.</pre></p>
	
	<p><pre><b>Different from Django because:</b> In Djula templates <a href='#tag-cycle' class='djula-tag'>{% cycle %}<a> is only usefull inside a <a href='#tag-for' class='djula-tag'>{% for %}<a> loop, the Django
behavior of <a href='#tag-cycle' class='djula-tag'>{% cycle %}<a> outside of a loop has not been replicated. Also, you have to
use double qoutes (&quot;), you can&#039;t use single quotes to identity string literals.

Cycling between variables [not string literals] is currently broken.</pre></p>
	
      </li>
      
      <li><a name='tag-debug'></a>
	<p><pre><b>DEBUG</b></pre><p>
	<p><pre>Output a whole load of debugging information.</pre></p>
	
	<p><pre><b>Different from Django because:</b> Most tags in Djula only effect the part of the template _after_ [or &quot;below&quot;] the tag.
So if you put a <a href='#tag-debug' class='djula-tag'>{% debug %}<a> tag at he top of a template and a <a href='#tag-debug' class='djula-tag'>{% debug %}<a> tag at the
bottom of the template they might display different information, depending on the tags
seen in between them</pre></p>
	
      </li>
      
      <li><a name='tag-else'></a>
	<p><pre><b>ELSE</b></pre><p>
	<p><pre>See <a href='#tag-if' class='djula-tag'>{% if %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-elseif'></a>
	<p><pre><b>ELSEIF (VAR)</b></pre><p>
	<p><pre>See <a href='#tag-if' class='djula-tag'>{% if %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-emit-js'></a>
	<p><pre><b>EMIT-JS</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>prints &lt;script/&gt; elements for all the <a href='#tag-js' class='djula-tag'>{% js %}<a> and <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> tags seen thus far
in the template, in order.

see also <a href='#tag-js' class='djula-tag'>{% js %}<a> and <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a>
</pre></p>
	
      </li>
      
      <li><a name='tag-endblock'></a>
	<p><pre><b>ENDBLOCK (&amp;OPTIONAL BLOCKNAME)</b></pre><p>
	<p><pre>Ends a block created by a <a href='#tag-block' class='djula-tag'>{% block %}<a> tag. Read the documentation about &quot;Template
inheritance&quot; for more information.</pre></p>
	
      </li>
      
      <li><a name='tag-endcomment'></a>
	<p><pre><b>ENDCOMMENT</b></pre><p>
	<p><pre>See <a href='#tag-comment' class='djula-tag'>{% comment %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endemit-js'></a>
	<p><pre><b>ENDEMIT-JS</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>See <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endfilter'></a>
	<p><pre><b>ENDFILTER</b></pre><p>
	<p><pre>See <a href='#tag-filter' class='djula-tag'>{% filter %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endfor'></a>
	<p><pre><b>ENDFOR</b></pre><p>
	<p><pre>See <a href='#tag-for' class='djula-tag'>{% for %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endif'></a>
	<p><pre><b>ENDIF</b></pre><p>
	<p><pre>See <a href='#tag-if' class='djula-tag'>{% if %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endifchanged'></a>
	<p><pre><b>ENDIFCHANGED</b></pre><p>
	<p><pre>See <a href='#tag-ifchanged' class='djula-tag'>{% ifchanged %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endifequal'></a>
	<p><pre><b>ENDIFEQUAL</b></pre><p>
	<p><pre>see <a href='#tag-ifequal' class='djula-tag'>{% ifequal %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-endifnotequal'></a>
	<p><pre><b>ENDIFNOTEQUAL</b></pre><p>
	<p><pre>see <a href='#tag-ifnotequal' class='djula-tag'>{% ifnotequal %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-example'></a>
	<p><pre><b>EXAMPLE (VARIABLE-NAME LANGUAGE/VALUE-PLIST)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>the <a href='#tag-example' class='djula-tag'>{% example %}<a> tag enables the designer to provide example data without
involving an example table [see <a href='#tag-example-table' class='djula-tag'>{% example-table %}<a>]

so, during development, if there is a tag

   <a href='#tag-example' class='djula-tag'>{% example user &quot;Nick&quot; %}<a>

then subsequent occurences of

   <a href='#variables' class='djula-tag'>{{user}}<a>

will show up as

   Nick

see also: <a href='#tag-example-table' class='djula-tag'>{% example-table %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-example-table'></a>
	<p><pre><b>EXAMPLE-TABLE (TEMPLATE-PATH)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>the <a href='#tag-example-table' class='djula-tag'>{% example-table %}<a> tag enables the designer to link to a file full of example
data to use when creating templates for a web applicaion. the values in this file
will later be replaced with real data by the programmer when the templates are used
in the running application.

the example table functions as a contracts between the designer and the programmer:
the programmer makes sure that the data coming from the application matches the
examples and the designer makes sure data that looks like the examples is displayed
correctly.

Examle tables must be filled with key/val pairs where the keys are lisp keywords
mapping to variables and the values are lisp objects [strings, numbers, lists,
plists, etc.]

If the example table &quot;/example.foo.sexp&quot; contains:

   progress &quot;Complete&quot;
   user (name &quot;Nick&quot; drinking &quot;mimosa&quot;)

and there is a tag

   <a href='#tag-example-table' class='djula-tag'>{% example-table &quot;/example.foo.sexp&quot; %}<a>

somewhere at the top of the template, then

   <a href='#variables' class='djula-tag'>{{progress}}<a>

will be seen as

   Complete

and

   <a href='#variables' class='djula-tag'>{{user.name}}<a> is drinking a <a href='#variables' class='djula-tag'>{{user.drinking}}<a>

will be seen as 

   Nick is drinking a mimosa

The name of an example table must match one of the regular expressions in the
list *EXAMPLE-TABLE-REGEXEPS*. By default, an example table must look like:

   example.XYZ.sexp
   example.XYZ.lisp
   example.XYZ.cl

see also: <a href='#tag-example' class='djula-tag'>{% example %}<a>, <a href='#tag-show-table' class='djula-tag'>{% show-table %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-extends'></a>
	<p><pre><b>EXTENDS (NAME)</b></pre><p>
	<p><pre>Signal that this template extends a parent template. The form

   <a href='#tag-extends' class='djula-tag'>{% extends &quot;base.html&quot; %}<a>

uses the literal value &quot;base.html&quot; as the name of the parent template to extend.

See Template inheritance for more information.</pre></p>
	
	<p><pre><b>Different from Django because:</b> Literal values must be double-quoted (&quot;&quot;) [not single-quoted (&#039;&#039;)]. You cannot give
<a href='#tag-extends' class='djula-tag'>{% extends %}<a> a variable, you must give it a hard-coded string. Note: Djula knows about
your template directory, so you can give it an absolute path starting at the base of the
template directory, not just relative paths starting at the current template.</pre></p>
	
      </li>
      
      <li><a name='tag-filter'></a>
	<p><pre><b>FILTER (FILTERS)</b></pre><p>
	<p><pre>Filter the contents of the variable through variable filters.

Filters can also be piped through each other, and they can have arguments — just like
in variable syntax.

Sample usage:

   <a href='#tag-filter' class='djula-tag'>{% filter force_escape|lower %}<a>
      This text will be HTML-escaped, and will appear in all lowercase.
   <a href='#tag-endfilter' class='djula-tag'>{% endfilter %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-for'></a>
	<p><pre><b>FOR (VAR IN LIST &amp;OPTIONAL REVERSED)</b></pre><p>
	<p><pre>Loop over each item in an array. For example, to display a list of athletes provided
in athlete_list:

   &lt;ul&gt;
      <a href='#tag-for' class='djula-tag'>{% for athlete in athlete_list %}<a>
         &lt;li&gt;<a href='#variables' class='djula-tag'>{{ athlete.name }}<a>&lt;/li&gt;
      <a href='#tag-endfor' class='djula-tag'>{% endfor %}<a>
   &lt;/ul&gt;

You can loop over a list in reverse by using <a href='#tag-for' class='djula-tag'>{% for obj in list reversed %}<a>.

The for loop sets a number of variables available within the loop:

Variable                Description

forloop.counter	        The current iteration of the loop (1-indexed)
forloop.counter0        The current iteration of the loop (0-indexed)
forloop.revcounter      The number of iterations from the end of the loop (1-indexed)
forloop.revcounter0     The number of iterations from the end of the loop (0-indexed)
forloop.first           True if this is the first time through the loop
forloop.last            True if this is the last time through the loop
forloop.parentloop      For nested loops, this is the loop &quot;above&quot; the current one</pre></p>
	
	<p><pre><b>Different from Django because:</b> In the development version of Django you can unpack values in sublists with commas.
You can&#039;t do that with Djula yet</pre></p>
	
      </li>
      
      <li><a name='tag-if'></a>
	<p><pre><b>IF (VAR)</b></pre><p>
	<p><pre>The <a href='#tag-if' class='djula-tag'>{% if %}<a> tag evaluates a variable, and if that variable is &#039;true&#039; (i.e. exists, is
not empty, and is not a false boolean value) the contents of the block are output:

   <a href='#tag-if' class='djula-tag'>{% if athlete_list %}<a>
       Number of athletes: <a href='#variables' class='djula-tag'>{{ athlete_list|length }}<a>
   <a href='#tag-else' class='djula-tag'>{% else %}<a>
       No athletes.
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

In the above, if `athlete_list&#039; is not empty, the number of athletes will be displayed
by the <a href='#variables' class='djula-tag'>{{ athlete_list|length }}<a> variable.

As you can see, the if tag can take an optional <a href='#tag-else' class='djula-tag'>{% else %}<a> clause that will be
displayed if the test fails.

if tags may use and, or or not to test a number of variables or to negate a given
variable:

   <a href='#tag-if' class='djula-tag'>{% if athlete_list and coach_list %}<a>
       Both athletes and coaches are available.
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

   <a href='#tag-if' class='djula-tag'>{% if not athlete_list %}<a>
       There are no athletes.
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

   <a href='#tag-if' class='djula-tag'>{% if athlete_list or coach_list %}<a>
       There are some athletes or some coaches.
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

   <a href='#tag-if' class='djula-tag'>{% if not athlete_list or coach_list %}<a>
       There are no athletes or there are some coaches (OK, so
       writing English translations of boolean logic sounds
       stupid; it&#039;s not our fault).
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

   <a href='#tag-if' class='djula-tag'>{% if athlete_list and not coach_list %}<a>
       There are some athletes and absolutely no coaches.
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

if tags don’t allow and and or clauses within the same tag, because the order of logic
would be ambiguous. For example, this is invalid:

   <a href='#tag-if' class='djula-tag'>{% if athlete_list and coach_list or cheerleader_list %}<a>

If you need to combine and and or to do advanced logic, just use nested if tags. For
example:

   <a href='#tag-if' class='djula-tag'>{% if athlete_list %}<a>
      <a href='#tag-if' class='djula-tag'>{% if coach_list or cheerleader_list %}<a>
         We have athletes, and either coaches or cheerleaders!
      <a href='#tag-endif' class='djula-tag'>{% endif %}<a>
   <a href='#tag-endif' class='djula-tag'>{% endif %}<a>

Multiple uses of the same logical operator are fine, as long as you use the same
operator. For example, this is valid:

   <a href='#tag-if' class='djula-tag'>{% if athlete_list or coach_list or parent_list or teacher_list %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-ifchanged'></a>
	<p><pre><b>IFCHANGED (&amp;REST VARS)</b></pre><p>
	<p><pre>Check if a value has changed from the last iteration of a loop.

The &#039;ifchanged&#039; block tag is used within a loop. It has two possible uses.

Checks its own rendered contents against its previous state and only displays the
content if it has changed. For example, this displays a list of days, only displaying
the month if it changes:

   &lt;h1&gt;Archive for <a href='#variables' class='djula-tag'>{{ year }}<a>&lt;/h1&gt;

   <a href='#tag-for' class='djula-tag'>{% for date in days %}<a>
      <a href='#tag-ifchanged' class='djula-tag'>{% ifchanged %}<a>&lt;h3&gt;<a href='#variables' class='djula-tag'>{{ date|date:&quot;F&quot; }}<a>&lt;/h3&gt;<a href='#tag-endifchanged' class='djula-tag'>{% endifchanged %}<a>
         &lt;a href=&quot;<a href='#variables' class='djula-tag'>{{ date|date:&quot;M/d&quot;|lower }}<a>/&quot;&gt;<a href='#variables' class='djula-tag'>{{ date|date:&quot;j&quot; }}<a>&lt;/a&gt;
   <a href='#tag-endfor' class='djula-tag'>{% endfor %}<a>

If given a variable, check whether that variable has changed. For example, the
following shows the date every time it changes, but only shows the hour if both the
hour and the date has changed:

   <a href='#tag-for' class='djula-tag'>{% for date in days %}<a>
      <a href='#tag-ifchanged' class='djula-tag'>{% ifchanged date.date %}<a> <a href='#variables' class='djula-tag'>{{ date.date }}<a> <a href='#tag-endifchanged' class='djula-tag'>{% endifchanged %}<a>
      <a href='#tag-ifchanged' class='djula-tag'>{% ifchanged date.hour date.date %}<a>
         <a href='#variables' class='djula-tag'>{{ date.hour }}<a>
      <a href='#tag-endifchanged' class='djula-tag'>{% endifchanged %}<a>
   <a href='#tag-endfor' class='djula-tag'>{% endfor %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-ifequal'></a>
	<p><pre><b>IFEQUAL (A B)</b></pre><p>
	<p><pre>Output the contents of the block if the two arguments equal each other.

Example:

   <a href='#tag-ifequal' class='djula-tag'>{% ifequal user.id comment.user_id %}<a>
      ...
   <a href='#tag-endifequal' class='djula-tag'>{% endifequal %}<a>

As in the <a href='#tag-if' class='djula-tag'>{% if %}<a> tag, an <a href='#tag-else' class='djula-tag'>{% else %}<a> clause is optional.

The arguments can be hard-coded strings, so the following is valid:

   <a href='#tag-ifequal' class='djula-tag'>{% ifequal user.username &quot;adrian&quot; %}<a>
      ...
   <a href='#tag-endifequal' class='djula-tag'>{% endifequal %}<a>

It is only possible to compare an argument to template variables or strings. You cannot
check for equality with Lisp objects such as T or NIL. If you need to test if
something is true or false, use the if tag instead.</pre></p>
	
      </li>
      
      <li><a name='tag-ifnotequal'></a>
	<p><pre><b>IFNOTEQUAL (A B)</b></pre><p>
	<p><pre>Just like <a href='#tag-ifequal' class='djula-tag'>{% ifequal %}<a>, except it tests that the two arguments are not equal.</pre></p>
	
      </li>
      
      <li><a name='tag-include'></a>
	<p><pre><b>INCLUDE (TEMPLATE-PATH)</b></pre><p>
	<p><pre>Loads a template and renders it with the current context. This is a way of
&quot;including&quot; other templates within a template. The `TEMPLATE-NAME&#039; can either be a
variable or a hard-coded (quoted) string, in double quotes.

This example includes the contents of the template &#039;foo/bar.html&#039;:

   <a href='#tag-include' class='djula-tag'>{% include &quot;foo/bar.html&quot; %}<a>

This example includes the contents of the template whose name is contained in the
variable template_name:

   <a href='#tag-include' class='djula-tag'>{% include template_name %}<a>

An included template is rendered with the context of the template that’s including it.
This example produces the output &quot;Hello, John&quot;:

   Context: variable person is set to &quot;john&quot;.

   Template: <a href='#tag-include' class='djula-tag'>{% include &quot;name_snippet.html&quot; %}<a>

   The &quot;name_snippet.html&quot; template:

       Hello, <a href='#variables' class='djula-tag'>{{ person }}<a>

See also: <a href='#tag-ssi' class='djula-tag'>{% ssi %}<a>.</pre></p>
	
	<p><pre><b>Different from Django because:</b> If `TEMPLATE-PATH&#039; is a hard-coded string it must use double quotes [not
single-quotes]. Also, `TEMPLATE-PATH&#039; knows about the template directory, so you can
use an absolute path beginning at the base of the template directory not just a
relative path starting at the current template.</pre></p>
	
      </li>
      
      <li><a name='tag-js'></a>
	<p><pre><b>JS (SRC)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>Makes subsequent occurences of <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a> load the external javascript located
at `SRC&#039;

If the tag

   <a href='#tag-js' class='djula-tag'>{% js &#039;http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js&#039; %}<a>

appears in a template then subsequent occurences of the <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a> tag will print the
following HTML element:

  &lt;script type=&#039;text/javascript&#039; src=&#039;http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js&#039; &gt;&lt;/script&gt;

before the HTML of any previous <a href='#tag-js' class='djula-tag'>{% js %}<a> or <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> tags and after any following
<a href='#tag-js' class='djula-tag'>{% js %}<a> or <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> tags.

if you need to add other attributes to the &lt;script/&gt; tag just add them after the first
`SRC&#039; argument.

see also <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a>, <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a>
</pre></p>
	
      </li>
      
      <li><a name='tag-js-script'></a>
	<p><pre><b>JS-SCRIPT</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>Makes subsequent occurences of <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a> run the inline javascript occuring between
<a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> and <a href='#tag-endjs-script' class='djula-tag'>{% endjs-script %}<a>

If the tag

   <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a>
      new Ajax.Autocompleter(&#039;foo-input&#039;, &#039;foo-div&#039;, &#039;http://example.com&#039;);
   <a href='#tag-endjs-script' class='djula-tag'>{% endjs-script %}<a>

appears in a template then subsequent occurences of the <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a> tag will print the
following HTML element:

   &lt;script type=&#039;text/javascript&#039;&gt;
      new Ajax.Autocompleter(&#039;foo-input&#039;, &#039;foo-div&#039;, &#039;http://example.com&#039;);
   &lt;/script&gt;

before the HTML of any previous <a href='#tag-js' class='djula-tag'>{% js %}<a> or <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> tags and after any following
<a href='#tag-js' class='djula-tag'>{% js %}<a> or <a href='#tag-js-script' class='djula-tag'>{% js-script %}<a> tags.

see also <a href='#tag-js' class='djula-tag'>{% js %}<a>, <a href='#tag-emit-js' class='djula-tag'>{% emit-js %}<a>
</pre></p>
	
      </li>
      
      <li><a name='tag-lisp'></a>
	<p><pre><b>LISP (SEXP)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>reads `SEXP&#039; as Common Lisp code using the &quot;cl-user&quot; package, evaluates it, and
prints the result.

So the tag

   <a href='#tag-lisp' class='djula-tag'>{% lisp (+ 4 5) %}<a>

shows up in the browser as

   9

note: <a href='#tag-lisp' class='djula-tag'>{% lisp %}<a> tags can be turned off by setting the variable *EVAL-LISP-TAGS*
to NIL</pre></p>
	
      </li>
      
      <li><a name='tag-set-language'></a>
	<p><pre><b>SET-LANGUAGE (LANGUAGE-NAME)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>After this tag is seen, the current template starts using the language named
`LANGUAGE-NAME&#039;.</pre></p>
	
      </li>
      
      <li><a name='tag-show-language'></a>
	<p><pre><b>SHOW-LANGUAGE</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>prints the name of the language currently being used by the template</pre></p>
	
      </li>
      
      <li><a name='tag-show-table'></a>
	<p><pre><b>SHOW-TABLE (TEMPLATE-PATH)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>Output the contents of a given dictionary into the page, html-escaping it first.</pre></p>
	
      </li>
      
      <li><a name='tag-ssi'></a>
	<p><pre><b>SSI (TEMPLATE-PATH)</b></pre><p>
	<p><pre>Output the contents of a given file into the page.

Like a simple &quot;include&quot; tag, <a href='#tag-ssi' class='djula-tag'>{% ssi %}<a> includes the contents of another file — which
must be specified using an absolute path — in the current page:

   <a href='#tag-ssi' class='djula-tag'>{% ssi &quot;/home/html/ljworld.com/includes/right_generic.html&quot; %}<a>

If the optional &quot;parsed&quot; parameter is given, the contents of the included file are
evaluated as template code, within the current context:

   <a href='#tag-ssi' class='djula-tag'>{% ssi &quot;/home/html/ljworld.com/includes/right_generic.html&quot; parsed %}<a>

Note that if you use <a href='#tag-ssi' class='djula-tag'>{% ssi %}<a>, a programmer will need to set *ALLOWED-INCLUDE-ROOTS*
for you as a security measure.

See also: <a href='#tag-include' class='djula-tag'>{% include %}<a>.</pre></p>
	
	<p><pre><b>Different from Django because:</b> <a href='#tag-ssi' class='djula-tag'>{% ssi %}<a>&#039;s path must be double-quoted to work. Also, Django&#039;s ALLOWED_INCLUDE_ROOTS
is called *ALOWED-INCLUDE-ROOTS* and lives in the &quot;djula&quot; package</pre></p>
	
      </li>
      
      <li><a name='tag-templatetag'></a>
	<p><pre><b>TEMPLATETAG (ARGUMENT)</b></pre><p>
	<p><pre>Output one of the syntax characters used to compose template tags.

Since the template system has no concept of &quot;escaping&quot;, to display one of the bits
used in template tags, you must use the <a href='#tag-templatetag' class='djula-tag'>{% templatetag %}<a> tag.

The argument tells which template bit to output:

Argument	Outputs
openblock	{%
closeblock	%}
openvariable	<a href='#variables' class='djula-tag'>{{
closevariable	}}<a>
openbrace	{
closebrace	}
opencomment	<a href='#comments' class='djula-tag'>{#
closecomment	#}<a></pre></p>
	
      </li>
      
      <li><a name='tag-translation'></a>
	<p><pre><b>TRANSLATION (VARIABLE-NAME LANGUAGE/VALUE-PLIST)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre><a href='#tag-translation' class='djula-tag'>{% translation %}<a> enables the designer to provide translations without involving
an actual translation table [see <a href='#tag-translation-table' class='djula-tag'>{% translation-table %}<a>]

So if there is a tag

   <a href='#tag-translation' class='djula-tag'>{% translation foo english &quot;The Foo&quot; spanish &quot;El Foo&quot; %}<a>

then

   <a href='#variables' class='djula-tag'>{{foo}}<a>.

will show up in English as:

   The Foo.

and in Spanish as

   El Foo.

Note: Although there can be nested tags, filters, comments, etc in dictionaries,
there cannot be in the values of variables inside <a href='#tag-dictionary-value' class='djula-tag'>{% dictionary-value %}<a> tags.

see also: <a href='#tag-set-language' class='djula-tag'>{% set-language %}<a>, <a href='#tag-show-language' class='djula-tag'>{% show-language %}<a>,  <a href='#tag-translation-table' class='djula-tag'>{% translation-table %}<a></pre></p>
	
      </li>
      
      <li><a name='tag-translation-table'></a>
	<p><pre><b>TRANSLATION-TABLE (TEMPLATE-PATH)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre><a href='#tag-translation-table' class='djula-tag'>{% translation-table %}<a> tags allow the designer to make pages that display
different text when rendered in different languages.

A <a href='#tag-translation' class='djula-tag'>{% translation %}<a> tag makes everything below them in the template aware of the
translations inside the file pointed to be `TEMPLATE-PATH&#039;.

the file pointed to by `TEMPLATE-PATH&#039; should be filled with Lisp lists that start
with the name of a variable [as a lisp keyword] and end with a plist of
language/value pairs.

So if the translation table &quot;inter.dictionary.sexp&quot; contains:

   (hello english &quot;Hello&quot; spanish &quot;Hola&quot;)
   (good-afternoon english &quot;Good afternoon&quot; spanish &quot;Buenas tardes&quot;)

then the template

   <a href='#tag-translation-table' class='djula-tag'>{% translation-table &quot;/hello.sexp&quot; $}<a>
   <a href='#dictionary-variables' class='djula-tag'>{_hello_}<a>, Jill. <a href='#dictionary-variables' class='djula-tag'>{_good-afternoon_}<a>.

will be rendered in English as:

   Hello, Jill. Good afternoon.

and in Spanish as:

   Hola, Jill. Buenas tardes.

Note that translations can have nested tags, filters, comments, etc in them.

see also: <a href='#tag-set-language' class='djula-tag'>{% set-language %}<a>, <a href='#tag-show-language' class='djula-tag'>{% show-language %}<a>, <a href='#tag-translation' class='djula-tag'>{% translation %}<a>, and
<a href='#tag-show-table' class='djula-tag'>{% show-table %}<a></pre></p>
	
      </li>
      
      </ul>

    <h3><a name='known-filter-reference'></a>Known Filter Reference</h3>
    <p>
      <ul>
      
      <li><a name='filter-capfirst'></a>
	<p><pre><b>CAPFIRST</b> <b>(THING)</b></pre><p>
	<p><pre>Capitalizes the first character of the value</pre></p>
	
      </li>
      
      <li><a name='filter-cut'></a>
	<p><pre><b>CUT</b> <b>(THING)</b></pre><p>
	<p><pre>Removes all values of arg from the given string.

For example:

   <a href='#variables' class='djula-tag'>{{ value|cut:&quot; &quot;}}<a>

If value is &quot;String with spaces&quot;, the output will be &quot;Stringwithspaces&quot;.</pre></p>
	
      </li>
      
      <li><a name='filter-default'></a>
	<p><pre><b>DEFAULT</b> <b>(THING DEFAULT)</b></pre><p>
	<p><pre>...document me...</pre></p>
	
	<p><b>But is different from Django because:</b> </p>
	
      </li>
      
      <li><a name='filter-force_escape'></a>
	<p><pre><b>FORCE_ESCAPE</b> <b>(THING)</b></pre><p>
	<p><pre>Applies HTML escaping to a string (see the escape filter for details). This filter is
applied immediately and returns a new, escaped string. This is useful in the rare cases
where you need multiple escaping or want to apply other filters to the escaped results.
Normally, you want to use the escape filter.</pre></p>
	
      </li>
      
      <li><a name='filter-length'></a>
	<p><pre><b>LENGTH</b> <b>(THING)</b></pre><p>
	<p><pre>Returns the length of the value. This works for both strings and lists.

For example:

   <a href='#variables' class='djula-tag'>{{ value|length }}<a>

If value is &quot;abcd&quot; the output will be 4.</pre></p>
	
      </li>
      
      <li><a name='filter-linebreaks'></a>
	<p><pre><b>LINEBREAKS</b> <b>(THING)</b></pre><p>
	<p><pre>Replaces line breaks in plain text with appropriate HTML; a single newline becomes an
HTML line break (&lt;br /&gt;) and a new line followed by a blank line becomes a paragraph
break (&lt;/p&gt;).

For example:

   <a href='#variables' class='djula-tag'>{{ value|linebreaks }}<a>

If value is Joel\nis a slug, the output will be &lt;p&gt;Joe&lt;br&gt;is a slug&lt;/p&gt;.</pre></p>
	
      </li>
      
      <li><a name='filter-linebreaksbr'></a>
	<p><pre><b>LINEBREAKSBR</b> <b>(THING)</b></pre><p>
	<p><pre>Converts all newlines in a piece of plain text to HTML line breaks (&lt;br /&gt;).</pre></p>
	
      </li>
      
      <li><a name='filter-lisp'></a>
	<p><pre><b>LISP</b> <b>(THING LISP-STRING)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>takes a unary function and applies it to `THING&#039;. Assumes the &quot;cl-user&quot; package. So
if there is a variable that has the value &quot;The Foo&quot; then

   <a href='#variables' class='djula-tag'>{{foo|lisp:(lambda (x) (concatenate &#039;string x &quot; and &quot; x))}}<a>

shows up in the browser as


   &quot;The Foo and The Foo&quot;

and

   <a href='#variables' class='djula-tag'>{{foo|lisp:reverse}}<a>

shows up in the browser as

   &quot;ooF ehT&quot;

note: lisp filters can be turned off by setting the variable *EVAL-LISP-TAGS* to NIL
</pre></p>
	
      </li>
      
      <li><a name='filter-lower'></a>
	<p><pre><b>LOWER</b> <b>(THING)</b></pre><p>
	<p><pre>Converts a string into all lowercase. For example:

   <a href='#variables' class='djula-tag'>{{ value|lower }}<a>

If value is &quot;Still MAD At Yoko&quot;, the output will be &quot;still mad at yoko&quot;.</pre></p>
	
      </li>
      
      <li><a name='filter-safe'></a>
	<p><pre><b>SAFE</b> <b>(THING)</b></pre><p>
	<p><pre>Marks a string as not requiring further HTML escaping prior to output.</pre></p>
	
      </li>
      
      <li><a name='filter-truncatechars'></a>
	<p><pre><b>TRUNCATECHARS</b> <b>(THING)</b> <i><a href='#different-from-django'>New, not in Django</a></i></pre><p>
	<p><pre>Truncates a string after a certain number of characters.

Argument: Number of characters to truncate after

For example:

   <a href='#variables' class='djula-tag'>{{ value|truncatechars:9 }}<a>

If value is &quot;Joel is a slug&quot;, the output will be &quot;Joel is a...&quot;.</pre></p>
	
      </li>
      
      <li><a name='filter-upper'></a>
	<p><pre><b>UPPER</b> <b>(THING)</b></pre><p>
	<p><pre>Converts a string into all uppercase.

For example:

   <a href='#variables' class='djula-tag'>{{ value|upper }}<a>

If value is &quot;Joel is a slug&quot;, the output will be &quot;JOEL IS A SLUG&quot;</pre></p>
	
      </li>
      
      <li><a name='filter-urlencode'></a>
	<p><pre><b>URLENCODE</b> <b>(THING)</b></pre><p>
	<p><pre>Escapes a value for use in a URL.</pre></p>
	
      </li>
      
      </ul>

      <h2><a name='different-from-django'></a>How Djula is different from the Django templating language</h2>
      <i>...under construction...</i>
      <h3>Big differences</h3>
      <ul>
	<li>You always have to use double quotes (&quot;) for string literals, you can't use single quote (&#039;)</li>
	<li>Most tags in Djula only affect the part of the template after (or &quot;below&quot;) the tag. So if you put a <a href='#tag-debug' class='djula-tag'>{% debug %}<a> tag at the top of a template and a <a href='#tag-debug' class='djula-tag'>{% debug %}<a> at the bottom of a template they might display different information, depending on the tags seen in between them. This means that things that you want to effect your entire template like <a href='#tag-dictionary' class='djula-tag'>{% dictionary %}<a> tags should always be at the top of the document [note: remember to even put dictionary-* tags on top of the <a href='#tag-extends' class='djula-tag'>{% extends %}<a> tag]</li>
      </ul>
      <h3>New Features</h3>
      <ul>
	<li><a href='#dictionary-variables' class='djula-tag'>{_dictionary-variables_}<a> let you do easy internationaization.</li>
	<li><a href='#tag-devel-dictionary' class='djula-tag'>{% devel-dictionary %}<a> and <a href='#tag-devel-value' class='djula-tag'>{% devel-value %}<a> tags let you fake a running web application while designing the templates. They also serve as a "contract" between the programmer and the designer.</li>
	<li>The <a href='#tag-lisp' class='djula-tag'>{% lisp %}<a> tag and the lisp filter let you call lisp directly from templates [although it's better not to, if you can avoid it]</li>
	<li>The <a href='#tag-rulebook' class='djula-tag'>{% rulebook %}<a> tag enables you to validate the variables used in developing and the variables used in production with the same tests.</li>
      </ul>
      <h3>Missing</h3>
      <ul>
	<li>A few of the tags and most of the filters are missing simply because the developer hasn't had time to implement them. It's not gauranteed that every single tag and fiter from the Django templating language is going to get ported to Djula, but hopefully we'll get caught up with the important ones soon.</li>
	<li>The <a href='#tag-url' class='djula-tag'>{% url %}<a> tag is purposefully omitted in favor of the convention of suppliying links to the template as variables or attributes of variables [so fake links can be supplied with <a href='#tag-devel-dictionary' class='djula-tag'>{% devel-dictionary %}<a> and <a href='#tag-devel-value' class='djula-tag'>{% devel-value %}<a>].
      </ul>

      <h4>New Tags</h4>
      <ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-emit-js'>EMIT-JS</a></li>
	
	
	
	
	
	
	
	<li><a href='#tag-endemit-js'>ENDEMIT-JS</a></li>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-example'>EXAMPLE</a></li>
	
	
	
	<li><a href='#tag-example-table'>EXAMPLE-TABLE</a></li>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-js'>JS</a></li>
	
	
	
	<li><a href='#tag-js-script'>JS-SCRIPT</a></li>
	
	
	
	<li><a href='#tag-lisp'>LISP</a></li>
	
	
	
	<li><a href='#tag-set-language'>SET-LANGUAGE</a></li>
	
	
	
	<li><a href='#tag-show-language'>SHOW-LANGUAGE</a></li>
	
	
	
	<li><a href='#tag-show-table'>SHOW-TABLE</a></li>
	
	
	
	
	
	
	
	<li><a href='#tag-translation'>TRANSLATION</a></li>
	
	
	
	<li><a href='#tag-translation-table'>TRANSLATION-TABLE</a></li>
	
	
      </ul>

      <h4>Tags That Are Different From Their Django Equivalents</h4>
      <ul>
	
	
	<li><a href='#tag-block'>BLOCK</a></li>
	
	
	
	
	
	<li><a href='#tag-cycle'>CYCLE</a></li>
	
	
	
	<li><a href='#tag-debug'>DEBUG</a></li>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-extends'>EXTENDS</a></li>
	
	
	
	
	
	<li><a href='#tag-for'>FOR</a></li>
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-include'>INCLUDE</a></li>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#tag-ssi'>SSI</a></li>
	
	
	
	
	
	
	
	
      </ul>

      <h4>New Filters</h4>
      <ul>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<li><a href='#filter-lisp'>LISP</a></li>
	
	
	
	
	
	
	
	<li><a href='#filter-truncatechars'>TRUNCATECHARS</a></li>
	
	
	
	
	
	
      </ul>

      <h4>Filters That Are Different From Their Django Equivalents</h4>
      <ul>
	
	
	
	
	
	
	<li><a href='#filters-default'>DEFAULT</a></li>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
      </ul>




  </body>
</html>
