
{% extends "/documentation-base.html" %}

{% block title %}Djula Documentation{% endblock %}

{% block style %}
    <style type='text/css'>
      a.djula-tag { text-decoration: none; color: darkblue; };
    </style>
{% endblock style %}

{% block body %}

{# kludge until block.super is implemented #}
{% block prepend-to-documentation1 %}
{% endblock %}

{% filter link-tags-to-definitions|link-variables-to-documentation|link-comments-to-documentation|link-translation-variables-to-documentation %}

    <h2>Djula Documentation Quick Reference</h2>
    <ol>
      <li><a href='#variables'>Variables</a></li>
      <li><a href='#filters'>Filters</a></li>
      <li><a href='#tags'>Tags</a></li>
      <li><a href='#template-inheritance'>Template Inheritance</a></li>
      <li><a href='#translation-variables'>Translation Variables</a></li>
      <li><a href='#different-from-django'>How Djula is different from the Django templating language</a></li>
    </ol>

{# kludge until block.super is implemented #}
{% block prepend-to-documentation2 %}
{% endblock %}

    <h2><a name='documentation'></a>Djula Documentation</h2>
    <p>This is all based on the <a href='http://www.djangoproject.com/' target='_blank'>Django</a> templating language, if you are familiar it then Djula templates will be a breeze. In fact most of the text on this page was directly copied from <a href='http://www.djangoproject.com/documentation/templates/' target='_blank'>The Django template language: for template authors</a>. For a list of how Djula is different in from the Django templating language <a href='#different-from-django'>click here</a></p>

    <h3><a name='variables'></a>Variables</h3>
    <p>Variables look like this: <code>{% templatetag openvariable %} variable {% templatetag closevariable%}</code>. When the template engine encounters a variable, it evaluates that variable and replaces it with the result.</p>
    <p>Use a dot (<code>.</code>) to access attributes of a variable or index of a list. <code>{% templatetag openvariable %} user.name {% templatetag closevariable%}</code> will be replaced with the <code>name</code> attribute of the <code>user</code> object (<i>Lisp hackers: this is an alist lookup</i>). <code>{% templatetag openvariable %} users.1 {% templatetag closevariable%}</code> will be replaced with the first user object of the list <code>users</code>. You can use multiple dots with a variable, so <code>{% templatetag openvariable %} users.1.name {% templatetag closevariable%}</code> will be replaced with the <code>name</code> attribute of the first user object of the list <code>users</code>.</p>
    <p>When designing your templates, the values of variables come from Example Tables linked to the template by {% templatetag openblock %} example-table {% templatetag closeblock %}
      tags or directly from {% templatetag openblock %} example {% templatetag closeblock %} tags. When your template is deployed in a real web application
      these &quot;devel&quot; values are replaced with &quot;real&quot; values by the programmers.
    </p>


    <h3><a name='filters'>Filters</a></h3>
    <p>You can modify variables for display by using filters.</p>
    <p>Filters look like this: <code>{% templatetag openvariable %} name|lowercase {% templatetag closevariable %}</code>. This displays the value of the <code>{% templatetag openvariable %} name {% templatetag closevariable %}</code> after being filtered through the <code>lowercase</code> filter, which converts text to lowercase. Use a pipe (<code>|</code>) to apply a filter.</p>

    <p>Filters can be "chained." The output of one filter is applied to the next. <code>{% templatetag openvariable %} name|lowercase|urlencode {% templatetag closevariable %}</code> displays <code>name</code> after being lowercased and url-encoded.</p>

    <p>Some filters take arguments. A filter argument looks like this: <code>{% templatetag openvariable %} bio|truncatewords:30 {% templatetag closevariable %}</code>. This will display the first 30 words of the <code>bio</code> variable.</p>

    <p>Filter arguments that contain spaces must be quoted; for example, to join a list with commas and spaced you&rsquo;d use <code>{% templatetag openvariable %} list|join:"," {% templatetag closevariable %}</code>.</p>

    <p>The <a href='#known-filter-reference'>Known Filter Reference</a> below describes all the filters Djula currently knows about. You can create your own filters, too, if you know how to write Common Lisp code</p>
    
    <h3>Known Filters</h3>
    <ul>
    {% for f in filters %}
    <li><a href='#filter-{{f.name|urlencode|lower}}'>{{f.name}}</a></li>
    {% endfor %}
    </ul>

    <h3><a name='tags'></a>Tags</h3>
    <p>Tags look like this: <code>{% templatetag openblock %} tag {% templatetag closeblock %}</code>. Tags are more complex than variables: Some create text in the output, some control flow by performing loops or logic, and some load external information into the template to be used by later variables.</p>

    <p>Some tags require beginning and ending tags (i.e. <code>{% templatetag openblock %} tag {% templatetag closeblock %} ... tag contents ... {% templatetag openblock %} endtag {% templatetag closeblock %}</code>). The <a href='#known-tag-reference'>known tag reference</a> below describes all the tags Djula knows about. You can create your own tags, too, if you know how to write Common Lisp code.</p>

    <h3>Known Tags</h3>
    <ul>
    {% for t in tags %}
    <li><a href='#tag-{{t.name|urlencode|lower}}'>{{t.name}}</a></li>
    {% endfor %}
    </ul>

    <h3><a name='comments'></a>Comments</h3>
    <p>Anything between <code>{% templatetag opencomment %}</code> and <code>{% templatetag closecomment %}</code> is commented out and will not appear in the browser.</p>
    <p>So this:
      
      <blockquote><code>Hello{% templatetag opencomment %} this is a comment {% templatetag closecomment %}</code></blockquote>

      will be displayed by the template as:

      <blockquote>Hello</blockquote>
    </p>

    
    <h3><a name='template-inheritance'></a>Template Inheritance</h3>
    <p>The most powerful - and thus the most complex - part of Djula&rsquo;s template engine is template inheritance. Template inheritance allows you to build a base &quot;skeleton&quot; template that contains all the common elements of your site and defines blocks that child templates can override.</p>

<p>It’s easiest to understand template inheritance by starting with an example:</p>

<pre><code>
   &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
   &lt;html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"&gt;
   &lt;head&gt;
       &lt;link rel="stylesheet" href="style.css" /&gt;
       &lt;title&gt;{% templatetag openblock %} block title {% templatetag closeblock %}My amazing site{% templatetag openblock %} endblock {% templatetag closeblock %}&lt;/title&gt;
   &lt;/head&gt;
   
   &lt;body&gt;
       &lt;div id="sidebar"&gt;
           {% templatetag openblock %} block sidebar {% templatetag closeblock %}
           &lt;ul&gt;
               &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
               &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
           &lt;/ul&gt;
           {% templatetag openblock %} endblock {% templatetag closeblock %}
       &lt;/div&gt;
   
       &lt;div id="content"&gt;
           {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
       &lt;/div&gt;
   &lt;/body&gt;
   &lt;/html&gt;
</pre></code>

<p>This template, which we’ll call <i>base.html</i>, defines a simple HTML skeleton document that you might use for a simple two-column page. It&rsquo;s the job of &quot;child&quot; templates to fill the empty blocks with content.</p>

</p>In this example, the <code>{% templatetag openblock %} block {% templatetag closeblock %}</code> tag defines three blocks that child templates can fill in. All the block tag does is to tell the template engine that a child template may override those portions of the template.</p>

<p>A child template might look like this:</p>

<code><pre>
   {% templatetag openblock %} extends "base.html" {% templatetag closeblock %}
   
   {% templatetag openblock %} block title {% templatetag closeblock %}My amazing blog{% templatetag openblock %} endblock {% templatetag closeblock %}
   
   {% templatetag openblock %} block content {% templatetag closeblock %}
   {% templatetag openblock %} for entry in blog_entries {% templatetag closeblock %}
       &lt;h2&gt;{% templatetag openvariable %} entry.title {% templatetag closevariable %}&lt;/h2&gt;
       &lt;p&gt;{% templatetag openvariable %} entry.body {% templatetag closevariable %}&lt;/p&gt;
   {% templatetag openblock %} endfor {% templatetag closeblock %}
   {% templatetag openblock %} endblock {% templatetag closeblock %}
</code></pre>

<p>The <code>{% templatetag openblock %} extends {% templatetag closeblock %}</code> tag is the key here. It tells the template engine that this template "extends" another template. When the template system evaluates this template, first it locates the parent — in this case, <i>base.html</i>.</p>

<p>At that point, the template engine will notice the three {% templatetag openblock %} block {% templatetag closeblock %} tags in <i>base.html</i> and replace those blocks with the contents of the child template. Depending on the value of blog_entries, the output might look like:</p>

   <code><pre>
   &lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;
   &lt;html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"&gt;
   &lt;head&gt;
       &lt;link rel="stylesheet" href="style.css" /&gt;
       &lt;title&gt;My amazing blog&lt;/title&gt;
   &lt;/head&gt;
   
   &lt;body&gt;
       &lt;div id="sidebar"&gt;
           &lt;ul&gt;
               &lt;li&gt;&lt;a href="/"&gt;Home&lt;/a&gt;&lt;/li&gt;
               &lt;li&gt;&lt;a href="/blog/"&gt;Blog&lt;/a&gt;&lt;/li&gt;
           &lt;/ul&gt;
       &lt;/div&gt;
   
       &lt;div id="content"&gt;
           &lt;h2&gt;Entry one&lt;/h2&gt;
           &lt;p&gt;This is my first entry.&lt;/p&gt;
   
           &lt;h2&gt;Entry two&lt;/h2&gt;
           &lt;p&gt;This is my second entry.&lt;/p&gt;
       &lt;/div&gt;
   &lt;/body&gt;
   &lt;/html&gt;
</pre></code>
<p>Note that since the child template didn’t define the sidebar block, the value from the parent template is used instead. Content within a <code>{% templatetag openblock %} block {% templatetag closeblock %}</code> tag in a parent template is always used as a fallback.</p>

<p>You can use as many levels of inheritance as needed. One common way of using inheritance is the following three-level approach:</p>

<p>Create a <i>base.html</i> template that holds the main look-and-feel of your site.</p>

<p>Create a <i>base_SECTIONNAME.html</i> template for each "section" of your site. For example, <i>base_news.html</i>, <i>base_sports.html</i>. These templates all extend <i>base.html</i> and include section-specific styles/design.</p>

<p>Create individual templates for each type of page, such as a news article or blog entry. These templates extend the appropriate section template.</p>

<p>This approach maximizes code reuse and makes it easy to add items to shared content areas, such as section-wide navigation.</p>

<p>Here are some tips for working with inheritance:</p>

<p>If you use <code>{% templatetag openblock %} extends {% templatetag closeblock %}</code> in a template, it must be the first template tag in that template. Template inheritance won’t work, otherwise.</p>

<p>More <code>{% templatetag openblock %} block {% templatetag closeblock %}</code> tags in your base templates are better. Remember, child templates don’t have to define all parent blocks, so you can fill in reasonable defaults in a number of blocks, then only define the ones you need later. It’s better to have more hooks than fewer hooks.</p>

<p>If you find yourself duplicating content in a number of templates, it probably means you should move that content to a <code>{% templatetag openblock %} block {% templatetag closeblock %}</code> in a parent template.</p>

<p>If you need to get the content of the block from the parent template, the {% templatetag openvariable %} block.super {% templatetag closevariable %} variable will do the trick. This is useful if you want to add to the contents of a parent block instead of completely overriding it. Data inserted using {% templatetag openvariable %} block.super {% templatetag closevariable %} will not be automatically escaped (see the next section), since it was already escaped, if necessary, in the parent template.</p>

<p>For extra readability, you can optionally give a name to your <code>{% templatetag openblock %} endblock {% templatetag closeblock %}</code> tag. For example:</p>

<pre><code>
   {% templatetag openblock %} block content {% templatetag closeblock %}
   ...
   {% templatetag openblock %} endblock content {% templatetag closeblock %}
</code></pre>

<p>In larger templates, this technique helps you see which {% templatetag openblock %} block {% templatetag closeblock %} tags are being closed.</p>

<p>Finally, note that you can’t define multiple <code>{% templatetag openblock %} block {% templatetag closeblock %}</code> tags with the same name in the same template. This limitation exists because a block tag works in “both” directions. That is, a block tag doesn’t just provide a hole to fill — it also defines the content that fills the hole in the parent. If there were two similarly-named {% templatetag openblock %} block {% templatetag closeblock %} tags in a template, that template’s parent wouldn’t know which one of the blocks’ content to use.</p>

    <h3><a name='translation-variables'></a>Translation Variables</h3>
    <p>
      Translation Variables look like {% templatetag opentranslationvariable %}this{% templatetag closetranslationvariable %}.
      Translation Variables are like <a href='#variables'>variables</a> except they are not HTML-escaped, the don't take filters,
      and they get their values from Translation Tables linked to the template by
      {% templatetag openblock %} translation-table {% templatetag closeblock %} tags or
      from {% templatetag openblock %} translation {% templatetag closeblock %} tags.
    </p>
    <p>
      Translation Variables are used for internationalization. If the Translation Table "/foo.lisp" contains the following definitions:
    <p>

      <code><pre>
	  (foo english "The foo" spanish "El foo")
	  (bar english "The bar" spanish "El bar")
      </pre><code>

    <p>Then the following template:</p>

      <code><pre>
	  {% templatetag openblock %} translation-table "/foo.lisp" {% templatetag closeblock %}
	  {% templatetag opentranslationvariable %}foo{% templatetag closetranslationvariable %}... {% templatetag opentranslationvariable %}bar{% templatetag closetranslationvariable %}...
      </pre></code>

    <p>Will be rendered in English to:</p>

          <code><pre>
	      
	      The foo... The bar...
	  </pre></code>

    <p>and in Spanish to:</p>

         <code><pre>

	     El foo... El bar...
	 </pre></code>

    <p>
      Note that translation values can have nested <a href='#tags'>tags</a>, <a href='#variables'>variables</a>, <a href='#comments'>comments</a>, etc.
    </p>

    <h3><a name='known-tag-reference'></a>Known Tag Reference</h3>
    <p>
      <ul>
      {% for t in tags %}
      <li><a name='tag-{{t.name|urlencode|lower}}'></a>
	<p><pre><b>{{t.name}}{% if t.arglist %} {{t.arglist}}{% endif %}</b>{% if not t.from-django-p %} <i><a href='#different-from-django'>New, not in Django</a></i>{% endif %}</pre><p>
	<p><pre>{{t.documentation}}</pre></p>
	{% if t.but-different-from-django-because %}
	<p><pre><b>Different from Django because:</b> {{ t.but-different-from-django-because }}</pre></p>
	{% endif %}
      </li>
      {% endfor %}
      </ul>

    <h3><a name='known-filter-reference'></a>Known Filter Reference</h3>
    <p>
      <ul>
      {% for f in filters %}
      <li><a name='filter-{{f.name|urlencode|lower}}'></a>
	<p><pre><b>{{f.name}}</b>{% if f.arglist %} <b>{{f.arglist}}</b>{% endif %}{% if not f.from-django-p %} <i><a href='#different-from-django'>New, not in Django</a></i>{% endif %}</pre><p>
	<p><pre>{{f.documentation}}</pre></p>
	{% if f.but-different-from-django-because %}
	<p><b>But is different from Django because:</b> {{ f.different-from-django-because }}</p>
	{% endif %}
      </li>
      {% endfor %}
      </ul>

      <h2><a name='different-from-django'></a>How Djula is different from the Django templating language</h2>
      <i>...under construction...</i>
      <h3>Big differences</h3>
      <ul>
	<li>You always have to use double quotes (&quot;) for string literals, you can't use single quote (&#039;)</li>
	<li>Most tags in Djula only affect the part of the template after (or &quot;below&quot;) the tag. So if you put a {% templatetag openblock %} debug {% templatetag closeblock %} tag at the top of a template and a {% templatetag openblock %} debug {% templatetag closeblock %} at the bottom of a template they might display different information, depending on the tags seen in between them. This means that things that you want to effect your entire template like {% templatetag openblock %} translation-table {% templatetag closeblock %} tags should always be at the top of the document [note: remember to put {% templatetag openblock %} example-table {% templatetag closeblock %} and {% templatetag openblock %} translation-table {% templatetag closeblock %} tags on top of the {% templatetag openblock %} extends {% templatetag closeblock %} tag]</li>
      </ul>
      <h3>New Features</h3>
      <ul>
	<li>{% templatetag opentranslationvariable %}translation-variables{% templatetag closetranslationvariable %} let you do easy internationalization.</li>
	<li>{% templatetag openblock %} example-table {% templatetag closeblock %} and {% templatetag openblock %} example {% templatetag closeblock %} tags let you fake a running web application while designing the templates. They also serve as a &quot;contract&quot; between the programmer and the designer.</li>
	<li>The {% templatetag openblock %} lisp {% templatetag closeblock %} tag and the lisp filter let you call lisp directly from templates [although it's better not to, if you can avoid it]</li>
      </ul>
      <h3>Missing</h3>
      <ul>
	<li>A few of the tags and most of the filters are missing simply because the developer hasn't had time to implement them. It's not gauranteed that every single tag and fiter from the Django templating language is going to get ported to Djula, but hopefully we'll get caught up with the important ones soon.</li>
	<li>The {% templatetag openblock %} url {% templatetag closeblock %} tag is purposefully omitted in favor of the convention of suppliying links to the template as variables or attributes of variables [so fake links can be supplied with {% templatetag openblock %} example-table {% templatetag closeblock %} and {% templatetag openblock %} example {% templatetag closeblock %}].
      </ul>

      <h4>New Tags</h4>
      <ul>
	{% for t in tags %}
	{% if not t.from-django-p %}
	<li><a href='#tag-{{t.name|urlencode|lower}}'>{{t.name}}</a></li>
	{% endif %}
	{% endfor %}
      </ul>

      <h4>Tags That Are Different From Their Django Equivalents</h4>
      <ul>
	{% for t in tags %}
	{% if t.but-different-from-django-because %}
	<li><a href='#tag-{{t.name|urlencode|lower}}'>{{t.name}}</a></li>
	{% endif %}
	{% endfor %}
      </ul>

      <h4>New Filters</h4>
      <ul>
	{% for f in filters %}
	{% if not f.from-django-p %}
	<li><a href='#filter-{{f.name|urlencode|lower}}'>{{f.name}}</a></li>
	{% endif %}
	{% endfor %}
      </ul>

      <h4>Filters That Are Different From Their Django Equivalents</h4>
      <ul>
	{% for f in filters %}
	{% if f.but-different-from-django-because %}
	<li><a href='#filters-{{f.name|urlencode|lower}}'>{{f.name}}</a></li>
	{% endif %}
	{% endfor %}
      </ul>

{% endfilter %}

{% endblock body %}
